body {
  margin: 0;
  font-family: sans-serif;

  background-attachment: fixed;
}

/* --------------navbar-------- */
nav {
  position: relative;
  min-width: 350px;
  min-height: 80px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0 15px;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: none;
}

/* ------------------------- */

h1 {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.weather-app {
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(139, 209, 241);
  position: relative;

  opacity: 1;
}

/* ---------footer---------------- */

.social {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}
